body{
  background-color:black;
  color:#F55CB8;
  font-size:20px;
  font-family:'Courier New', Courier, monospace;
}

header {
    font-size:xx-large;
    text-align: center;  
  }

.black{
    color: #000000;
  }

#home{
    background-image: url(https://img.freepik.com/free-vector/retro-neon-perspective-grid-floor-background_1017-31969.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size:100vw 100%;
  }

#introduction{margin-left: 20%;
      margin-right: 20%;}

tr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

tr, th, td {
      text-align: center;
    }

th, td 
    {
      border: 1px solid #F55CB8;
      padding: 3px;
    }

  .info{
    text-align: center;
    color: #F55CB8;
    font-size: large;
  }

html {
  height: 100%;
  width: 100%;
}

.btn{
  background-color:#121212;
  border:none;
  color:#F55CB8;
  padding:12px 20px;
  cursor: pointer;
  font-size:x-large;
}

.btn:hover {
  background-color:#00ccff;
}

.footer{
  background-color: #121212;
  color:#ffffff;
  text-align:center;
  width:100%;
  margin:auto;
}

.freepik{
  text-decoration: none;
  color:#F55CB8;
}


nav{margin-left:30%;
    margin-right:30%;
    background-color:rgba(0, 0, 0, 0.75);
  text-align: center;
  position:fixed;
  color:white;
  z-index: 99;
  box-shadow: 0 2px 2px #000000;
  margin-right: 1em ;
}

nav a {
  text-decoration: none;
  margin-right: 1em ;
}

.free{
  color:yellow;
}

.disclaimer{
  font-size: xx-small;
}

#drinks{width: 30%;
        margin: 1rem 0;
        display:inline-block;
}

#video{ text-align: center;
}

#image{ display:block;
       padding-left: 15em;
}

#test{text-align:center;
}

#table{margin-left:auto;
       margin-right:auto;
}

#tables{margin-left:auto;
       margin-right:auto;        
}

#job{
  text-align: center;
}

.attribute{
  font-size: smallest;
  text-align: right;
}
